.navbar1{
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: rgb(131, 144, 155);
}
.op1{
    border-right: 2px solid gold;
}
.navbar2{
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar2 ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.heading{
    font-family: "Playfair Display", serif;
    font-size: 40px;
}